* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  list-style: none;
}

body,
html,
#root,
.main-container {
  width: 100%;
  height: 100%;
}

body {
  background: #0ef059;
  color: #0e0101;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

button {
  cursor: pointer;
}

button {
  cursor: pointer;
}
