.header {
  background: rgb(184, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

.newTaskForm {
  width: 100%;
  max-width: 736px;
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-template-rows: max-content max-content;
  gap: 1rem;
  padding: 0 1rem;
}
.inputTitle {
  color: black;
  border: 1.5px solid orangered;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 14px;
}

.inputDescription {
  border: 1px solid orangered;
  border-radius: 7px;
  padding: 0.5rem;
}

.newTaskForm input::placeholder {
  color: black;
}

.newTaskForm button {
  padding: 1rem;
  background: rgb(10, 3, 0);
  color: #fa0505;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  max-height: 3.5rem;
  align-self: center;
}
