.app-navbar {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: transparent;
  backdrop-filter: blur(7px);
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);
}

.navbar-title {
  font-size: 2rem;
  color: white;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

#responsive-tab {
  display: none;
}

#responsive-tab a,
#responsive-tab button {
  width: 100%;
}

@media (max-width: 500px) {
  #responsive-tab {
    display: flex;
  }

  #no-responsive-tab {
    display: none;
  }
}
